.button {
  padding: 8px 12px;
  
  border: 1px solid #75B9E1;
  border-radius: 3px;
  
  background: #4FA0D0;
  
  cursor: pointer;
  
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  
  &--red {
    border-color: #F578A4;
    background-color: #EF5289;
  }
}