.register-screen {
    padding-top: 35px;
    margin-top: 10px;
}
.login-screen, .register-screen {
     box-shadow: 1px 0px 0 rgba(199,196,191,.62);
    -moz-box-shadow: 30px 30px;
    -webkit-box-shadow: 1px 1px 3px rgba(210,207,202,.73);
    box-shadow: 1px 0px 0 rgba(199,196,191,.62), 1px 1px 3px rgba(210,207,202,.73);
    background: #fff;
    margin-top: 40px;
    padding: 30px;
}
div#view2 {
    position: relative;
    float: left;
}
.term-screen {
    margin-top: 10px;
}
.register-screen.title {
    font-weight: 700;
    margin-top: 20px;
}
p {
    margin: 0 0 11px;
}
h3 {
    font-size: 28px;
}
h1, h2, h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.page {
    margin-right: auto;
    margin-top: auto;
}
.title {
    font-weight: 700;
    margin-top: 20px;  
}