span.title {
	border-bottom-style: double;
    line-height: 50px;
    font-style: italic;
}
span.title strong {
	
}
b._type {
	line-height: 30px;
	
}
div.row.panel.panel-default.no-radius-left.no-radius-right {
	padding-bottom: 10px;
}