.error-form {
	margin-top: 37px;
    padding: 10px 2px 0px 0px;
    text-align: center;
    line-height: initial;
}
.col-sm-3 .form-inline {
	padding: 10px 100px 10px 100px;
}
.result {
	padding-bottom: 10px;
}
